{% extends 'size_reducer/home.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="file-upload-wrapper">
        <input type="file" name="myimage" accept="image/*" required>
    </div>
    <hr>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Compress</button>
</form>
<hr>
<div id="loading">
    <img id="loading-image" src="http://cdn.nirmaltv.com/images/generatorphp-thumb.gif" alt="Loading..." />
</div>
{% if images %}
<h3>Your compressed Images</h3>
<table class="table mb-0">
    <thead>
        <tr>
            <th>Image</th>
            <th>Download</th>
            <th>File size</th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        <tr>
            <td><a target="_blank" href="{{ image.image.url }}">
                    <img src="{{ image.image.url }}" alt="Forest" style="width:150px">
                </a></td>
            <td><a class="btn btn-primary btn-sm" href="{{ image.image.url }}" download>Download</a></td>
            <td>{{ image.image.size|filesizeformat  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<div class="text-center">
    <form action="{% url 'size_reducer:zip' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg btn-block">Download All</button>
    </form>
</div>
<br>
<div class="text-center">
    <form action="{% url 'size_reducer:delete' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger btn-lg btn-block ">Remove All</button>
    </form>
</div>



{% endif %}
{% endblock %}