{% extends 'size_reducer/home.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<form id="upload_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-flex justify-content-center">

        <input class="inputfile" id='file' onchange="form.submit() " type="file" name="myimage" accept="image/*"
            required>
        <label for="file"> <i class="fa fa-image"> Choose a Image..</i> </label>
    </div>
    <input type="hidden" id="myField" value="" name="tabID" />
</form>
<div id="loading">
    <img id="loading-image" src="http://cdn.nirmaltv.com/images/generatorphp-thumb.gif" alt="Loading..." />
</div>

{% if images %}
<h3>Your compressed Images</h3>

<div class="row">
    {% for image in images %}
    <div class="column mx-auto">
        <div class="card" style="height: 200px;">
            <a target="_blank" href="{{ image.image.url }}">
                <img src="{{ image.image.url }}" alt="Forest" height="120" width="150">
            </a>
            <div class="card-body">
                <a class="btn btn-primary btn-sm" href="{{ image.image.url }}" download>Download</a>
                <p>{{ image.image.size|filesizeformat  }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}
{% endblock %}