{% extends 'size_reducer/home.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-flex justify-content-center">

        <input class="inputfile" id='file' onchange="form.submit()" type="file" name="myimage" accept="image/*"
            required>
        <label for="file"> <i class="fa fa-image"> Choose a Image..</i> </label>
    </div>
</form>
<div id="loading">
    <img id="loading-image" src="http://cdn.nirmaltv.com/images/generatorphp-thumb.gif" alt="Loading..." />
</div>
{% if images %}
<h3>Your compressed Images</h3>
<!-- <div class="text-center">
    <form action="{}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary btn-sm">Download All</button>
    </form>
</div>
<br>
<div class="text-center">
    <form action="{% url 'size_reducer:delete' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger btn-sm">Remove All</button>
    </form>
</div> -->
<div class="row">
    {% for image in images %}
    <div class="column">
        <div class="card">
            <a target="_blank" href="{{ image.image.url }}">
                <img src="{{ image.image.url }}" alt="Forest" style="width:150px">
            </a>
            <div class="card-body">
                <a class="btn btn-primary btn-sm" href="{{ image.image.url }}" download>Download</a>
                <p>{{ image.image.size|filesizeformat  }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- <table class="table mb-0">
    <thead>
        <tr>
            <th>Image</th>
            <th>Download</th>
            <th>File size</th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        <tr>
            <td><a target="_blank" href="{{ image.image.url }}">
                    <img src="{{ image.image.url }}" alt="Forest" style="width:150px">
                </a></td>
            <td><a class="btn btn-primary btn-sm" href="{{ image.image.url }}" download>Download</a></td>
            <td>{{ image.image.size|filesizeformat  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->




{% endif %}
{% endblock %}